html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style(type="text/css").
      a:visited {
        color: #000;
      }
  body(style="max-width: 100%; max-height: 100%; background-color: #F5F5F5; margin: 0px; padding: 16px")
    div(style="background-color: #fff; padding: 16px;")
      div(style="padding-bottom: 16px;")
        h3(style="color: #B3B783; text-align: center;") Sao Paulo Vertical
      h2(style="text-align: center;") Bienvenido al panel de administración  de la App de Sao Paulo Vertical. Ingresa al siguiente link para iniciar sesión.
      div(style="width: 100%; padding: 16px; margin: 0px;")
        div(style="width: 200px; background-color: #B3B783; margin: auto; border-radius: 2px;   box-shadow: 0 1px 4px rgba(0, 0, 0, .6);")
          a(href='http://altozanomorelia.ar3data.com/login' style="color: #000; display: block;line-height: 50px; text-align: center; width:200px;height: 50px; text-decoration: none; ") Iniciar sesión
      hr(style=" border: 0;height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));")
      div(style="height: 64px;")
    div(style="width: 100%; height: 64px;")
      a(href="http://altozano.com.mx/morelia/" style="width: 30%; display:inline-block; line-height: 64px; text-align: center; text-decoration: none; margin: 0px; padding:0px;") Morelia
      div(style="width:5%; display: inline-block; text-align: center; margin: 0px; padding:0px;") ·
      a(href="http://altozanomorelia.ar3data.com/login" style="width: 30%; display:inline-block; line-height: 64px; text-align: center; text-decoration: none; margin: 0px; padding:0px;") Admin
      div(style="width:5%; display: inline-block; text-align: center; margin: 0px; padding:0px;") ·
      a(href="http://altozano.com.mx/" style="width: 30%; display:inline-block; line-height: 64px; text-align: center; text-decoration: none; margin: 0px; padding:0px;") Altozano

